{% extends 'base-profile.html' %} 

{% block main-content %}

<main class="h-full pb-16 overflow-y-auto">
    
    <div class="container px-6 mx-auto grid">
      <h2
        class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
      >
        Бронювання
      </h2>


      {% if not reservations %}

      <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
        Бронювань немає!
      </h4>

      {% else %}

      <div class="w-full overflow-hidden rounded-lg shadow-xs">
        <div class="w-full overflow-x-auto">
          <table class="w-full whitespace-no-wrap">
            <thead>
              <tr
                class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                <th class="px-4 py-3">Статус</th>
                <th class="px-4 py-3">Користувач</th>
                <th class="px-4 py-3">Кімната</th>
                <th class="px-4 py-3">Кількість дорослих</th>
                <th class="px-4 py-3">Кількість дітей</th>
                <th class="px-4 py-3">Дата початку бронювання</th>
                <th class="px-4 py-3">Дата завершення бронювання</th>
                <th class="px-4 py-3">Відмінити бронювання</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">

              {% for reservation in reservations %}
              <tr class="text-gray-700 dark:text-gray-400">
                <td class="px-4 py-3 text-sm">
                  {% if not reservation.cancel %}
                  <span
                    class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                    Активно
                  </span>
                  {% else %}
                  <span
                        class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
                        Відмінено
                      </span>

                  {% endif %}
                </td>
                <td class="px-4 py-3">
                  <div class="flex items-center text-sm">
                    
                    <a href="{% url 'admin_guests' %}?user_id={{ reservation.customer.customer_id }}" class="flex flex-row">
                      <p class="mx-10">{{ reservation.customer.username }}</p>
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                    </svg>
                    </a>
                  </div>
                </td>
                <td class="px-4 py-3 text-sm">
                  {{ reservation.room }}
                </td>
                <td class="px-4 py-3 text-sm">
                  {{ reservation.no_of_adults }}
                </td>
                <td class="px-4 py-3 text-sm">
                  {{ reservation.no_of_children }}
                </td>
                <td class="px-4 py-3 text-sm">
                  {{ reservation.check_in_time }}
                </td>
                <td class="px-4 py-3 text-sm">
                  {{ reservation.check_out_time }}
                </td>
                <td class="px-4 py-3 flex flex-row justify-center">
                  <form method="POST" action="{% url 'admin_reservations' %}">
                    {% csrf_token %}
                    <input class="hidden" name="type_req" value="cancel">
                    <input class="hidden" name="reservation_id" value="{{ reservation.reservation_id }}">
                    <button type="submit" class="mx-auto p-0 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    </button>
                  </form>
                </td>
              </tr>
              {% endfor %}

              
            </tbody>
          </table>
        </div>
        <div
          class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
          <span class="flex items-center col-span-3">
            Показано {{ showing_pages }} із {{ all_count_page }}
          </span>
          <span class="col-span-2"></span>
          <!-- Pagination -->
          <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
            <nav aria-label="Table navigation">
              <ul class="inline-flex items-center">
                {% if previous_page %}
                    <li>
                        <a href="?page={{ previous_page }}&step={{ step }}" class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple"
                            aria-label="Previous">
                            <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                                <path d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                    clip-rule="evenodd" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                    </li>
                {% endif %}
                
                {% for page_number in users.paginator.page_range %}
                    <li>
                        <a href="?page={{ page_number }}&step={{ step }}" class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                            {{ page_number }}
                        </a>
                    </li>
                {% endfor %}
                
                {% if next_page %}
                    <li>
                        <a href="?page={{ next_page }}&step={{ step }}" class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple"
                            aria-label="Next">
                            <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                                <path d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                    </li>
                {% endif %}
            </ul>
            
            </nav>
          </span>
        </div>
      </div>

      {% endif %}









    </div>

  </main>

{% endblock %}