{% extends 'base.html' %} 
{% load static %}

{% block main-content %}


<!-- Header -->
<header id="header" class="header py-28 text-center md:pt-36 lg:text-left xl:pt-44 xl:pb-32" style="background: url({% static 'images/hotel-indigo-krakow-4724211307-16x5.jpeg' %}); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="mb-16 lg:mt-32 xl:mt-40 xl:mr-12">
            <h1 class="h1-large mb-5 text-white">Ласкаво просимо до нашої готельної резиденції</h1>
            <p class="p-large mb-8 text-white">Забудьте про клопоти та зануртесь у розкіш нашого готелю</p>
        </div>
        
    </div> <!-- end of container -->
</header> <!-- end of header -->
<!-- end of header -->

<div class="counter">
<!-- Introduction -->
<div class="pt-4 pb-14 text-center">
    <div class="container px-4 sm:px-8 xl:px-4">
        <p class="text-gray-800 text-3xl leading-10 lg:max-w-5xl lg:mx-auto"> Вітаємо у готелі Hotel
            Зануртеся в комфорт та розкіш нашого готелю. Незабутні враження та найвищий рівень обслуговування чекають на вас. Забронюйте свою ідеальну кімнату вже сьогодні і насолоджуйтесь перебуванням у нашому готелі.</p>
    </div> <!-- end of container -->
</div>
</div>
<!-- end of introduction -->


<!-- Features -->
<div id="features" class="cards-1">
    <div class="container px-4 sm:px-8 xl:px-4">

        <!-- Card -->
        <div class="card">
            <div class="card-image">
                <img src="{% static 'images/features-icon-1.svg' %}" alt="alternative" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Комфортні номери з неперевершеним дизайном</h5>
                <p class="mb-4">Відпочивайте у стильних і затишних номерах, де кожна деталь створена для вашого комфорту і задоволення. Відчуйте атмосферу розкоші і відпочинку.</p>
            </div>
        </div>
        <!-- end of card -->

        <!-- Card -->
        <div class="card">
            <div class="card-image">
                <img src="{% static 'images/features-icon-2.svg' %}" alt="alternative" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Широкий вибір розкішних спа-процедур</h5>
                <p class="mb-4">Насолоджуйтесь розкішшю наших спа-процедур, які допоможуть вам розслабитися, відновити силу та відчути себе оновленим. Виберіть з широкого спектру процедур, щоб знайти ту, яка найбільше вам підходить.</p>
            </div>
        </div>
        <!-- end of card -->

        <!-- Card -->
        <div class="card">
            <div class="card-image">
                <img src="{% static 'images/features-icon-3.svg' %}" alt="alternative" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Вишукана ресторанна кухня</h5>
                <p class="mb-4">Спробуйте неперевершені страви, приготовані нашими талановитими шеф-кухарями. Вишукані і смачні страви з найкращих інгредієнтів залишать вам незабутні смакові враження.</p>
            </div>
        </div>
        <!-- end of card -->

        <!-- Card -->
        <div class="card">
            <div class="card-image">
                <img src="{% static 'images/features-icon-4.svg' %}" alt="alternative" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Професійний центр конференцій та зустрічей</h5>
                <p class="mb-4">Наш готель пропонує просторі конференц-зали та унікальні приміщення для зустрічей. Організуйте свою наступну подію або зустріч у нас і ми зробимо все можливе, щоб вона пройшла успішно.</p>
            </div>
        </div>
        <!-- end of card -->

        <!-- Card -->
        <div class="card">
            <div class="card-image">
                <img src="{% static 'images/features-icon-5.svg' %}" alt="alternative" />
            </div>
            <div class="card-body">
                <h5 class="card-title">24/7 обслуговування номерів</h5>
                <p class="mb-4">Наша команда завжди готова надати вам допомогу. Незалежно від того, яка потреба у вас виникла, наші співробітники будуть раді допомогти вам цілодобово.</p>
            </div>
        </div>
        <!-- end of card -->

        <!-- Card -->
        <div class="card">
            <div class="card-image">
                <img src="{% static 'images/features-icon-6.svg' %}" alt="alternative" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Фітнес-центр і басейн</h5>
                <p class="mb-4">Підтримуйте свою форму та насолоджуйтесь активним відпочинком у нашому сучасному фітнес-центрі. А потім зануртесь у відчуття свіжості і розслаблення у нашому красивому басейні.</p>
            </div>
        </div>
        <!-- end of card -->
    </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of features -->


<!-- Statistics -->
<div class="counter">
    <div class="container px-4 sm:px-8">
        
        <!-- Counter -->
        <div id="counter">
            <div class="cell">
                <div class="counter-value number-count" data-count="231">1</div>
                <p class="counter-info">Задоволених Гостей</p>
            </div>
            <div class="cell">
                <div class="counter-value number-count" data-count="385">1</div>
                <p class="counter-info">Років в бізнесі</p>
            </div>
            <div class="cell">
                <div class="counter-value number-count" data-count="159">1</div>
                <p class="counter-info">Гарних відгуків</p>
            </div>
            <div class="cell">
                <div class="counter-value number-count" data-count="127">1</div>
                <p class="counter-info">Кімнат готелю</p>
            </div>
            <div class="cell">
                <div class="counter-value number-count" data-count="211">1</div>
                <p class="counter-info">Завершених замовлень</p>
            </div>
        </div>
        <!-- end of counter -->

    </div> <!-- end of container -->
</div> <!-- end of counter -->
<!-- end of statistics -->


<!-- Testimonials -->
<div class="slider-1 py-32 bg-gray">
    <div class="container px-4 sm:px-8">
        <h2 class="mb-12 text-center lg:max-w-xl lg:mx-auto">Що про наш готель думають Гості</h2>

        <!-- Card Slider -->
        <div class="slider-container">
            <div class="swiper-container card-slider">
                <div class="swiper-wrapper">
                    
                    <!-- Slide -->
                    <div class="swiper-slide">
                        <div class="card">
                            <img class="card-image" src="{% static 'images/testimonial-1.jpg' %}" alt="alternative" />
                            <div class="card-body">
                                <p class="italic mb-3">Відмінне місце для відпочинку! Номери чисті та затишні, персонал дуже привітний і уважний. Чудовий ресторан зі смачною їжею. Рекомендую готель всім, хто шукає комфортного та розкішного відпочинку</p>
                                <p class="testimonial-author">Марія С.</p>
                            </div>
                        </div>
                    </div> <!-- end of swiper-slide -->
                    <!-- end of slide -->

                    <!-- Slide -->
                    <div class="swiper-slide">
                        <div class="card">
                            <img class="card-image" src="{% static 'images/testimonial-2.jpg' %}" alt="alternative" />
                            <div class="card-body">
                                <p class="italic mb-3">Неймовірний готель! Все було на вищому рівні - від чистоти номеру до обслуговування. Спа-процедури були просто дивовижні, а ресторан пропонує найсмачніші страви. Я залишився в захваті від свого перебування тут</p>
                                <p class="testimonial-author">Олександр П.</p>
                            </div>
                        </div>
                    </div> <!-- end of swiper-slide -->
                    <!-- end of slide -->

                    <!-- Slide -->
                    <div class="swiper-slide">
                        <div class="card">
                            <img class="card-image" src="{% static 'images/testimonial-3.jpg' %}" alt="alternative" />
                            <div class="card-body">
                                <p class="italic mb-3">Незабутні враження! Готель Hotel - це справжня розкіш. Номери просторі і затишні, а персонал завжди готовий допомогти. Я особливо полюбила їхній фітнес-центр та басейн. Все було просто чудово</p>
                                <p class="testimonial-author">Катерина Д.</p>
                            </div>
                        </div>
                    </div> <!-- end of swiper-slide -->
                    <!-- end of slide -->

                    <!-- Slide -->
                    <div class="swiper-slide">
                        <div class="card">
                            <img class="card-image" src="{% static 'images/testimonial-4.jpg' %}" alt="alternative" />
                            <div class="card-body">
                                <p class="italic mb-3">Готель, який варто відвідати! Я вражений сервісом та гостинністю персоналу. Вони піклувалися про кожну деталь і зробили моє перебування незабутнім. Ресторан пропонує широкий вибір страв, які варто скуштувати. Обов'язково повернусь</p>
                                <p class="testimonial-author">Михайло Т.</p>
                            </div>
                        </div>
                    </div> <!-- end of swiper-slide -->
                    <!-- end of slide -->

                    <!-- Slide -->
                    <div class="swiper-slide">
                        <div class="card">
                            <img class="card-image" src="{% static 'images/testimonial-5.jpg' %}" alt="alternative" />
                            <div class="card-body">
                                <p class="italic mb-3">Справжня розкіш! Готель Hotel перевершив мої очікування. Номери оформлені зі смаком, а персонал був надзвичайно уважним та дбайливим. Я провела чудовий час у їхньому спа-салоні та насолодилася чудовою кухнею. Все було ідеально</p>
                                <p class="testimonial-author">Анна К.</p>
                            </div>
                        </div>
                    </div> <!-- end of swiper-slide -->
                    <!-- end of slide -->

                    <!-- Slide -->
                    <div class="swiper-slide">
                        <div class="card">
                            <img class="card-image" src="{% static 'images/testimonial-6.jpg' %}" alt="alternative" />
                            <div class="card-body">
                                <p class="italic mb-3">Найкращий готель, в якому я коли-небудь зупинявся! Відмінна локація, чисті і комфортні номери, професійний персонал. Я високо оцінюю їхню роботу та рекомендую цей готель усім своїм друзям. Буду повертатися сюди знову і знову</p>
                                <p class="testimonial-author">Галя У.</p>
                            </div>
                        </div>
                    </div> <!-- end of swiper-slide -->
                    <!-- end of slide -->

                </div> <!-- end of swiper-wrapper -->

                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <!-- end of add arrows -->

            </div> <!-- end of swiper-container -->
        </div> <!-- end of slider-container -->
        <!-- end of card slider -->

    </div> <!-- end of container -->
</div> <!-- end of slider-1 -->
<!-- end of testimonials -->


<div class="counter">
    <div class="container px-4 sm:px-8">
        <div id="custom-controls-gallery" class="relative w-full" data-carousel="slide">
            <!-- Carousel wrapper -->
            <div class="relative h-56 overflow-hidden rounded-lg md:h-96">

                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="{% static 'images/hotel-indigo-krakow-4703948179-2x1.jfif' %}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                </div>

                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="{% static 'images/hotel-indigo-krakow-4724209839-2x1.jfif' %}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                </div>

                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="{% static 'images/hotel-indigo-krakow-4724210993-2x1.jfif' %}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                </div>

                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="{% static 'images/hotel-indigo-krakow-4724211307-2x1.jfif' %}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                </div>

                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="{% static 'images/hotel-indigo-krakow-4724211490-2x1.jfif' %}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                </div>

                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="{% static 'images/hotel-indigo-krakow-4724244011-2x1.jfif' %}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                </div>

                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="{% static 'images/hotel-indigo-krakow-4724246794-2x1.jfif' %}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                </div>

                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="{% static 'images/hotel-indigo-krakow-4751273379-2x1.jfif' %}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                </div>

                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="{% static 'images/hotel-indigo-krakow-4772524312-2x1.jfif' %}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                </div>

                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="{% static 'images/hotel-indigo-krakow-4803006091-2x1.jfif' %}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                </div>

                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="{% static 'images/hotel-indigo-krakow-7526084598-2x1.jfif' %}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                </div>

                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="{% static 'images/hotel-indigo-krakow-7526135031-2x1.jfif' %}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                </div>
                
            </div>
            <div class="flex justify-center items-center pt-4">
                <button type="button" class="flex justify-center items-center mr-4 h-full cursor-pointer group focus:outline-none" data-carousel-prev>
                    <span class="text-gray-400 hover:text-gray-900 dark:hover:text-white group-focus:text-gray-900 dark:group-focus:text-white">
                        <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
                        <span class="sr-only">Попередня</span>
                    </span>
                </button>
                <button type="button" class="flex justify-center items-center h-full cursor-pointer group focus:outline-none" data-carousel-next>
                    <span class="text-gray-400 hover:text-gray-900 dark:hover:text-white group-focus:text-gray-900 dark:group-focus:text-white">
                        <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        <span class="sr-only">Наступна</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>




{% endblock %}